name: Build Framework Laptop 16 Firmware

on:
  push:
    branches:
    - master
    - develop
    - lotus
    - fl16-*

jobs:
  fl16-build:
    runs-on: ubuntu-latest

    container: qmkfm/qmk_cli

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Install dependencies
      run: pip3 install -r requirements-dev.txt

    - name: Lint Framework Laptop 16
      run: |
        qmk lint -kb framework/ansi -km default
        qmk lint -kb framework/copilot -km default
        qmk lint -kb framework/iso -km default
        qmk lint -kb framework/jis -km default
        qmk lint -kb framework/numpad -km default
        qmk lint -kb framework/macropad -km default

    - name: Build Framework Laptop 16 ANSI variant
      run: qmk compile -kb framework/ansi -km default

    - name: Build Framework Laptop 16 ANSI copilot variant
      run: qmk compile -kb framework/copilot -km default

    - name: Build Framework Laptop 16 ISO variant
      run: qmk compile -kb framework/iso -km default

    - name: Build Framework Laptop 16 JIS variant
      run: qmk compile -kb framework/jis -km default

    - name: Build Framework Laptop 16 Numpad
      run: qmk compile -kb framework/numpad -km default

    - name: Build Framework Laptop 16 Macropad
      run: qmk compile -kb framework/macropad -km default

    - uses: actions/upload-artifact@v4
      with:
        name: fl16_kb_qmk.${{github.sha}}
        path: |
          framework_*.uf2

    - name: Convert UF2 to bin
      run: |
          ./util/uf2conv.py framework_ansi_default.uf2     --convert --output framework_ansi_default.bin
          ./util/uf2conv.py framework_copilot_default.uf2  --convert --output framework_copilot_default.bin
          ./util/uf2conv.py framework_iso_default.uf2      --convert --output framework_iso_default.bin
          ./util/uf2conv.py framework_jis_default.uf2      --convert --output framework_jis_default.bin
          ./util/uf2conv.py framework_numpad_default.uf2   --convert --output framework_numpad_default.bin
          ./util/uf2conv.py framework_macropad_default.uf2 --convert --output framework_macropad_default.bin

    - uses: actions/upload-artifact@v4
      with:
        name: fl16_kb_qmk.${{github.sha}}.bin
        path: |
          framework_*.bin

#  tests:
#    runs-on: ubuntu-latest
#
#    container: qmkfm/qmk_cli
#
#    steps:
#    - uses: actions/checkout@v3
#      with:
#        submodules: recursive
#
#    - name: Install dependencies
#      run: pip3 install -r requirements-dev.txt
#
#    - name: Run tests
#      run: make test:all
